ion-header {
  position: relative;
  height: 70px; /* Ensure the header has a consistent height */
}

.qr-code {
  height: 100%; /* Match the height of the header */
  width: auto; /* Maintain aspect ratio */
  max-height: 50px; /* Set a maximum height to prevent it from becoming too large */
  cursor: pointer;
  margin-right: 16px;
}

.qr-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
}

.qr-code-large {
  width: 300px;
  height: 300px;
}

.close-modal {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal:hover {
  background-color: #ddd;
}

.progress-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Adjust the height as needed */
  background-color: #e0e0e0; /* Background color of the empty bar */
  z-index: 10;
}

.progress-bar {
  height: 100%;
  background-color: var(--ion-color-primary); /* Color of the filled bar */
  transition: width 1s linear; /* Smooth transition for the width */
}

ion-toolbar {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center; /* Center items vertically */
  padding: 8px 16px; /* Add padding for spacing */
  height: 70px; /* Adjust height as needed */
  position: relative;
  z-index: 5; /* Ensure the toolbar is above the progress bar */
}

.header-right {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: flex-end; /* Align items to the right */
  width: 100%;
  padding-right: 16px; /* Optional: Add right padding for spacing from edge */
  padding-top: 8px; /* Add padding to the top for spacing from the progress bar */
}

.clock {
  font-size: 1.75em;
  font-weight: bold;
  color: var(--ion-color-primary);
  margin-right: 24px; /* Increase margin to create more space */
  line-height: 40px;
}

.header-logo {
  width: auto; /* Set a wider width for the logo */
  height: 40px; /* Set a fixed height for the logo to align with the QR code */
  margin-left: 8px; /* Adjust margin to create space between countdown and logo */
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  .qr-code {
    content: url('/assets/qr-white.png'); /* Use the white QR code in dark mode */
  }
  .qr-code-large {
    content: url('/assets/qr-white.png'); /* Use the white QR code for the large version in dark mode */
  }
  .header-logo {
    content: url('/assets/logo_dark.png'); /* Replace the logo with the dark mode version */
  }

    .qr-modal {
    background-color: rgba(0, 0, 0, 0.8); /* Dark mode background */
  }

  .close-modal {
    background: #000; /* Dark mode close button background */
    color: #fff; /* White close button text */
  }
}

ion-content {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use full viewport height */
  overflow: hidden; /* Prevent scrolling */
}

.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
  height: calc(100vh - 70px); /* Fill the space below the header */
}

.widget {
  width: 22%; /* Adjust width to fit four widgets per row */
  height: 100%; /* Make each widget take full height of the container */
  background-color: var(--ion-background-color, #f4f4f4); /* Default light mode color */
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden; /* Ensure overflow is hidden */
  display: flex;
  flex-direction: column;
  color: var(--ion-text-color, #000); /* Default text color */
}

.widget-heading {
  font-size: 1.5em;
  color: var(--ion-color-primary); /* Use primary color for the heading */
  margin: 10px 0;
  text-align: center;
  font-weight: bold;
}

ion-searchbar {
  margin-bottom: 10px;
}

.table-container {
  flex: 1;
  overflow-y: auto;
}

.ranking-table {
  width: 100%;
  margin: 0 auto; /* Center the table horizontally within the container */
  border-collapse: collapse;
  text-align: center; /* Center-align text for entire table */
}

.ranking-table th {
  background-color: transparent; /* Remove default heading background */
  color: var(--ion-color-primary); /* Primary color for table headings */
  font-weight: bold;
  font-size: 1em;
  text-align: center; /* Ensure header text is centered */
}

.ranking-table td {
  text-align: center; /* Center-align text in table cells */
  padding: 8px; /* Add padding for better spacing */
  vertical-align: middle; /* Vertically center content */
}

/* Dark mode adjustments for table */
body.dark .ranking-table th,
body.dark .ranking-table td {
  color: #fff; /* Text color for dark mode */
}

body.dark .ranking-table td {
  border-color: #333; /* Darker border color in dark mode */
}

.info-text {
  display: flex;
  align-items: center;
  justify-content: center; /* Center align the text and icon horizontally */
  font-size: 0.9em;
  color: var(--text-color); /* Matches the text color theme */
  margin-bottom: 10px;
  text-align: center;
  
  ion-icon {
    font-size: 1.1em;
    color: grey;
    margin-right: 5px;
  }
}

.match-suggestor-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the matches vertically */
  justify-content: flex-start; /* Align to top of container */
  flex-grow: 1;
  overflow: auto;
}

.pinball-row {
  width: 100%;
  align-items: flex-start; /* Align items at the start of the flex container */
  justify-content: space-between; /* Distribute space between and around content items */
  margin-bottom: 0; /* Space between each pinball-row */
}

.pinball-group {
  width: 80%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px; /* Reduce space between pinball groups */
}

.pinball-group h3 {
  margin: 5px 0; /* Reduce margin for pinball group headings */
  background-color: transparent; /* Remove default heading background */
  color: var(--ion-color-primary); /* Primary color for table headings */
  font-weight: bold;
  font-size: 1em;
}

.pinball-name {
  width: 100%; /* Width for the pinball name column */
  text-align: left; /* Align text to the left */
  padding: 10px;
}

.suggestion-list {
  width: 70%; /* Width for the suggestion list column */
  text-align: left; /* Align text to the left */
}

.free-scores {
  margin-top: 20px;
  text-align: left; /* Align list to the left */
}

.free-scores h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--heading-color); /* Use heading color for consistency */
}

.free-scores ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0 20px;
}

.free-scores li {
  margin-bottom: 5px;
  color: var(--text-color); /* Use text color for readability */
  text-align: center;
}

ion-select {
  width: 140px; /* Adjust width to fit more comfortably */
  --padding-start: 10px; /* Ensure proper padding */
  --padding-end: 10px; /* Ensure proper padding */
}

.player-selection {
  display: flex;
  justify-content: center; /* Center dropdowns and button horizontally */
  margin-bottom: 10px; /* Space below the dropdowns */
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if necessary */
  gap: 10px; /* Space between dropdowns and button */
  align-items: center; /* Align items vertically in the center */
}

ion-button {
  --padding-start: 0; /* Remove start padding */
  --padding-end: 0;   /* Remove end padding */
  --inner-padding-end: 0; /* Remove inner end padding */
  --inner-padding-start: 0;
  --inner-padding-top: 0; /* Remove inner top padding */
  --inner-padding-bottom: 0; /* Remove inner bottom padding */
}

ion-icon {
  font-size: 1.5em; /* Adjust icon size as needed */
  color: var(--ion-color-primary); /* Use the primary color for the icon */
}

@media (prefers-color-scheme: dark) {
  .widget {
    background-color: #1F1F1F; /* Dark mode background color */
    color: #fff; /* Text color for dark mode */
  }

  .ranking-table th,
  .ranking-table td {
    color: #fff; /* Text color for dark mode */
  }

  .info-text {
    color: #fff; /* Text color for info text */
  }

  .no-selection,
  .no-matches {
    color: gray; /* Text color for no selection/matches */
  }
}

/* Define keyframes for the bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Start at the initial position */
  }
  40% {
    transform: translateY(-10px); /* Move up by 10px */
  }
  60% {
    transform: translateY(-5px); /* Move up by 5px for a smaller bounce */
  }
}

.no-selection {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the icon and text */
  justify-content: center;
  padding: 20px 0; /* Add padding to ensure space for animation */
  min-height: 100px; /* Ensure a minimum height for the container */
  overflow: visible; /* Allow overflow to prevent clipping */
}

.no-selection ion-icon {
  color: gray;
  font-size: 2em;
  animation: bounce 2s infinite; /* 2-second animation duration, infinite iterations */
}

.no-selection p {
  color: gray;
  margin-top: 10px;
}

.no-matches {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the icon and text */
  justify-content: center;
  padding: 20px 0;
  min-height: 100px; /* Ensure a minimum height for the container */
  overflow: visible; /* Allow overflow to prevent clipping */
}

.no-matches ion-icon {
  color: gray;
  font-size: 2em;
}

.no-matches p {
  color: gray;
  margin-top: 10px;
}

.no-results {
  text-align: center;
  color: gray;
}

/* Specific styles for the Standings widget */
.standings-widget {
  height: calc(100% - 20px); /* Adjust for margins */
  display: flex;
  flex-direction: column;
}

.standings-widget .table-container {
  flex: 1;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standings-widget .ranking-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  position: absolute; /* Position absolutely to enable animation */
  top: 0;
  left: 0;
}
