
  
  ion-toolbar {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center; /* Center items vertically */
    padding: 8px 16px; /* Add padding for spacing */
    height: 70px; /* Adjust height as needed */
  }
  
  .header-right {
    display: flex;
    align-items: center; /* Vertically center items */
  }
  
  .clock {
    font-size: 1.75em; /* Match the height of the circle */
    font-weight: bold;
    color: var(--ion-color-primary); // Use Ionic's primary color
    margin-right: 16px;
    line-height: 40px; /* Match the circle height for consistent vertical alignment */
  }
  
  .progress-circle {
    width: 40px;
    height: 40px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 2.8;
  }
  
  .circle {
    fill: none;
    stroke: var(--ion-color-primary); // Primary color for the outline
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 1s linear;
  }
  
  .timer-text {
    fill: var(--ion-color-primary);
    font-size: 8px;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
  }
  
  ion-content {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use full viewport height */
    overflow: hidden; /* Prevent scrolling */
  }
  
  .widget-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
    height: calc(100vh - 70px); /* Fill the space below the header */
  }
  
  .widget {
    width: 22%; /* Adjust width to fit four widgets per row */
    height: 100%; /* Make each widget take full height of the container */
    background-color: #f4f4f4;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden */
    display: flex;
    flex-direction: column;
  }
  
  
  .widget-heading {
    font-size: 1.5em;
    color: var(--ion-color-primary); /* Use primary color for the heading */
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
  }
  
  ion-searchbar {
    margin-bottom: 10px;
  }
  
  .table-container {
    flex: 1;
    overflow-y: auto;
    position: relative;
  }
  
  .auto-scroll {
    animation: scroll 20s linear infinite;
  }
  
  .ranking-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  .ranking-table td {
    padding: 8px;
    text-align: left;
    border: none; /* Remove table lines */
  }
  
  .ranking-table th {
    background-color: transparent; /* Remove default heading background */
    color: var(--ion-color-primary); /* Primary color for table headings */
    font-weight: bold;
    font-size: 1em;
  }
  .info-text {
    font-size: 0.9em;
    color: var(--text-color); // Matches the text color theme
    margin-bottom: 10px;
    text-align: center;
  }
  .match-suggestor-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the matches vertically */
    justify-content: top;
    flex-grow: 1; /* Allow the container to take up available space proportionally */
    overflow: auto; /* Allow scrolling if content overflows */
  }
  
  .pinball-row {
    display: flex;
    width: 100%;
    align-items: flex-start; /* Align items at the start of the flex container */
    justify-content: space-between; /* Distribute space between and around content items */
    margin-bottom: 10px; /* Space between each pinball-row */
  }
  
  .pinball-group {
    width: 80%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px; /* Reduce space between pinball groups */
  }
  .pinball-group h3 {
    margin: 5px 0; /* Reduce margin for pinball group headings */
    background-color: transparent; /* Remove default heading background */
    color: var(--ion-color-primary); /* Primary color for table headings */
    font-weight: bold;
    font-size: 1em;
  }
  .pinball-name {
    width: 50%; /* Width for the pinball name column */
    text-align: left; /* Align text to the left */
    padding-right: 10px; /* Space between pinball name and suggestions */
    color: var(--heading-color); /* Use primary color for pinball names */
    font-weight: bold;
  }
  
  .suggestion-list {
    width: 70%; /* Width for the suggestion list column */
    text-align: left; /* Align text to the left */
  }
  

  
  .info-text {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: var(--text-color); // Matches the text color theme
    margin-bottom: 10px;
    text-align: center;
  
    ion-icon {
      font-size: 1.1em;
      color: grey;
      margin-right: 5px;
    }
}
.info-text {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the text and icon horizontally */
    font-size: 0.9em;
    color: var(--text-color); // Matches the text color theme
    margin-bottom: 10px;
    text-align: center;
  
    ion-icon {
      font-size: 1.1em;
      color: grey;
      margin-right: 5px;
    }
}
.ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0; /* Remove margin between tables */
  }
  .ranking-table td {
    padding: 4px; /* Reduce padding for a more compact table */
    border: none; /* Remove border lines */
    text-align: left; /* Align text to the left */
  }